body{
    margin: 0}
.photo{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5% 2% 5% 2%;
  

}
.photo img{
    max-width: 15%;
    margin: 5px;
    transition: 0.5s;
}
.photo img:hover{
   transform: scale(2,2);
    border:2px solid rgb(240, 178, 79);
 
}
